html {
  height: 100vh;
  width: 100vw;
  font-size: 40px;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-layer-1 {
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: -1;
  animation-name: bg-transition;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes bg-transition {
  0% {
    background-color: rgba(0, 0, 0, 0.87);
  }
  50% {
    background-color: rgb(45, 16, 73);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.87);
  }
}

.bg-layer-2 {
  background-color: blueviolet;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: -2;
}

.main {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.title {
  font-size: 1rem;
  height: 10vh;
}

.subtitle {
  font-size: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.profile-pic {
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}

.links {
  font-size: 20px;
}
